html{
    text-align: center;
    font-family: monospace;
}

.header{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    background-color: burlywood;
}

.main{
    display:flex;
    min-height: 70vh;
    background-color: beige;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 90vh;

}

.container{
    background-color: black;
    border: 5px solid brown;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    gap: 2px;
}

.display{
    background-color: antiquewhite;
    grid-column: 1/-1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 5.5em;
    margin: 5px;
}

button{
    margin:1px;
    border-radius: 5%;
    font-size: 2em;
}

#zero{
    grid-column: span 2;
}

.footer{
    background-color: burlywood;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}